body{
  background-color: #FEF5ED;
}

img{
width: 300px;
height: 300px;

}

hr{
  height: 0;
  border-style: dotted none none none;
  width: 5%;
  border-width: 5px;
  border-color: #99A799;
}

h1{
  color: #99A799;
}

h2{
  color: #ADC2A9;

}

h3{
  color: #ADC2A9;

}
